* {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif;
  }
  h2, h3, h4 {
    color: #444;
    font-weight: lighter;
    margin-top: 0;
  }
  h4 {
    color: #444;
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }
  body {
    padding: .5rem;
    max-width: 1300px;
    margin: auto;
  }
  @media (min-width: 600px) {
    body {
      padding: 2rem;
    }
  }
  body, input[text] {
    color: #333;
  }

  button {
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1rem;
    padding: 1rem;
  }

  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box {
    background-color: #eeedf2;
    padding: 1rem;
    margin: 0.5rem 2rem;
  }

  .box:first-child {
    margin-top: 0;
  }

  .box > div {
    display: flex;
    flex-direction: column;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .flex:not(:last-child) {
    margin-bottom: 1rem;
  }

  .flex > *:not(:last-child) {
    margin-right: 2rem;
  }

  button {
    border-radius: 0;
    background: #fff;
    vertical-align: bottom;
    margin: 0 0.7rem 0.7rem 0;
  }

  button:last-child {
    margin-right: 0;
  }

  button:hover {
    color: #333;
    background: #DDDDEE;
  }

